<h1>Make your form here</h1>
<form method = "POST" action = "/pirates">
  <input type = "text" name ="pirate[name]">
  <input type = "text" name ="pirate[weight]">
  <input type = "text" name ="pirate[height]">
  <input type = "text" name ="pirate[ships][][name]">
  <input type = "text" name ="pirate[ships][][type]">
  <input type = "text" name ="pirate[ships][][booty]">
</form>
